{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 major versions",
            "not <= 0.5%",
            "not dead"
          ]
        },
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/transform-async-to-generator"
  ]
}
