@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --vh: calc(100vh / 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #8cd9d4;
  color: #040033;
}

body {
  background-color: #fef2e7;
  color: #040033;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  overflow-x: hidden;
}

.Canvas {
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 0;
}

@media screen and (min-width: 1920px) {
  :root {
    --responsive: 1px;
  }
}

@media screen and (max-width: 1919px) and (min-width: 415px) {
  :root {
    --responsive: calc((100vw - 415px) / 1505);
  }
}

@media screen and (max-width: 414px) {
  :root {
    --responsive: 0px;
  }
}
